body {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

h1 {
    font-family: 'Odibee Sans', cursive;
    color: yellow;
    text-shadow: 2px 2px black;
    text-align: center;
    font-size: 45px;
}

#main-container {
    background-color: white;
    margin: auto;
    border-style: solid;
    border-width: 15px;
    border-color: black;
    border-radius: 10px;
    display: grid;
    width: 35vw;
    height: 35vw;
}

.grid-box {
    border-style: solid;
    border-color: #6f7070;
    border-width: 0.1px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    height: 3vw;
    width: 6.5vw;
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
    background-color: black;
    color: white;
    border: none;
    font-size: 1.2vw;
}

.buttons button:hover {
    text-shadow: 1px 1px 4px white;
}

#random {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

.color {
    --color: white;
    background-color: var(--color);
}

